* {
    margin: 0%;
    font-family: "Poppins", sans-serif;
}

.main-sec {
    padding: 0.5rem 6rem;
}

.navbar {
    height: 40px;
    align-items: center;
    display: flex;

}

.logo {
    height: 30px;
    width: 30px;
    margin: 0;
}

.leftNab {
    width: 30%;
    display: flex;
    text-align: justify;
    align-items: center;

}

p.bold {
    font-weight: bold;
    font-size: 21px;
    padding-left: 10px;
}

p.lighter {
    font-size: 16px;
    margin: 0;
}

.rightNav {
    width: 75%;
}

.list {
    gap: 2.5rem;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.list li {
    font-size: 12px;
    align-items: center;
    display: flex;
    list-style: none;
}

.list li a {
    text-decoration: none;
    color: black;
}

.list li a:hover {
    color: rgb(252 111 0)
}

.btn {
    margin-top: 1%;
    width: 130px;
    gap: 0%;
    padding: 0 10px;
    height: 35px;
    font-size: 14px;
    background-color: rgb(253 111 0);
    border-radius: 5px;
    color: white;
    border: none;
    font-weight: 600;

}

.home {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
}

.hero1 {
    width: 64%;
}

.ts {
    margin-bottom: 0%;
    font-size: 18px;
    font-weight: 900;
}

.ts1 {
    margin-top: 0%;
    margin-bottom: 0%;
    color: rgb(253 111 0);
    font-size: 40px;
    font-weight: 600;
}

.ts2 {
    margin-top: -5%;
    margin-bottom: 0%;
    font-size: 100px;
    font-weight: bold
}

.ts3 {
    margin-top: -5%;
    margin-bottom: 0%;
    font-size: 100px;
    font-weight: bold;
    text-align: right;
}

.ts4 {
    width: 70%;
    font-size: 12px;
}

.btn-hover:hover {
    background-color: rgb(3, 22, 52);
}

.hero2 {
    width: 31%;
    align-items: center;
    justify-content: space-between;

}

.hero-img {
    height: 450px;
    width: 400px;
    align-items: end;
}

.icons {
    margin: 0%;
    padding-left: 150px;
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.icons li {
    display: flex;
    list-style: none;
}

.icons li:hover {
    color: rgb(253 111 0);
}

.about {
    padding-top: 5%;
    display: flex;
    text-align: start;
}

.hero-img1 {
    height: 400px;
    width: 350px;
}

.part1 {
    width: 40%;
}

.mid {
    width: 30%;
}

.part2 {
    width: 60%;
}

.ts5 {
    margin-top: -10%;
    font-size: 100px;
    font-weight: 700;

}

.ts6 {
    margin-top: -5%;
    font-size: 14px;

}

.ts7 {

    margin-top: 3%;
    margin-bottom: 1%;
    font-size: 18px;
    font-weight: 600;
}

.scroll {
    height: 8px;
    width: 400px;
    background-color: rgb(222, 222, 222);
    border-radius: 35px;
    position: relative;
}

.scroll_1 {
    height: 8px;
    width: 360px;
    background-color: rgb(253 111 0);
    position: relative;
    border-radius: 35px;
}

.circle1 {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(237, 234, 231);
    top: -3px;
    left: 350px;
    border: 2px solid rgb(253 111 0);
}

.scroll_2 {
    height: 8px;
    width: 330px;
    background-color: rgb(253 111 0);
    border-radius: 35px;
}

.circle2 {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(237, 234, 231);
    top: -3px;
    left: 320px;
    border: 2px solid rgb(253 111 0);
}

.scroll_3 {
    height: 8px;
    width: 375px;
    background-color: rgb(253 111 0);
    border-radius: 35px;
}

.circle3 {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(237, 234, 231);
    top: -3px;
    left: 365px;
    border: 2px solid rgb(253 111 0);
}

.scroll_4 {
    height: 8px;
    width: 340px;
    background-color: rgb(253 111 0);
    border-radius: 35px;
}

.circle4 {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(237, 234, 231);
    top: -3px;
    left: 330px;
    border: 2px solid rgb(253 111 0);
}
.servies {
    
    padding-bottom: 5%;
 
}
.ts8 {
    font-size: 100px;
    font-weight: 700;
    text-align: center;
}

.ts9 {
    font-size: 13px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.card {
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;
}

.card1 {
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: 10px;
    height: 200px;
    width: 300px;
    background-color: rgb(248 248 248);
}

.c1 {
    height: 80px;
    width: 70px;
}

.card2 {
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: 10px;
    height: 200px;
    width: 300px;
    background-color: rgb(248 248 248);
}

.c2 {
    height: 60px;
    width: 60px;
    padding: 6%;
}

.card3 {
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: 10px;
    height: 200px;
    width: 300px;

    background-color: rgb(248 248 248);
}

.c3 {
    padding: 3%;
    height: 70px;
    width: 55px;
}

.card4 {
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: 10px;
    height: 200px;
    width: 300px;

    background-color: rgb(248 248 248);
}

.c4 {
    padding: 4%;
    height: 60px;
    width: 60px;
}

.ts10 {
    padding-top: 1.5%;
    width: 85%;
    font-size: 13px;
}

.project{
    
    padding-bottom: 5%;
 
}
.button{
    justify-content: center;
    display: flex;
    margin-top: 2%;
    margin-bottom: 3%;
}
.btn1{
    height: 40px;
    width: 50px;
    background-color: rgb(253 111 0);
    border-radius: 7px;
    color: white;
    border: 1px solid black;
    font-weight: 600;
    font-size: 13px;
    align-items: center;
    margin-right: 10px;
}

.btn2{
    height: 40px;
    width: 80px;
    background-color:white;
    border-radius: 7px;
    color:blank;
    border: 1px solid black;
    font-weight: 600;
    font-size: 13px;
    align-items: center;
    align-items: center;
    margin-right: 10px;
}

.btn2:hover{
    background-color: rgb(253 111 0);
    color: white;
}

.btn3{
    height: 40px;
    width: 120px;
    background-color: white;
    border-radius: 7px;
    color: blank;
    border: 1px solid black;
    font-weight: 600;
    font-size: 13px;
    align-items: center;
    margin-right: 10px;
}

.btn3:hover{
    background-color: rgb(253 111 0);
    color: white;
}

.btn4{
    height: 40px;
    width: 120px;
    background-color: white;
    border-radius: 7px;
    color: blank;
    border: 1px solid black;
    font-weight: 600;
    font-size: 13px;
    align-items: center;
    margin-right: 10px;
}
.btn4:hover{
    background-color: rgb(253 111 0);
    color: white;
}
.btn5{
    height: 40px;
    width: 140px;
    background-color: white;
    border-radius: 7px;
    color: blank;
    border: 1px solid black;
    font-weight: 600;
    font-size: 13px;
    align-items: center;
    margin-right: 10px;
}
.btn5:hover{
    background-color: rgb(253 111 0);
    color: white;
}

.wd1{
    width: 300px;
    height: 350px;
}
.p1{
    font-size: 14px;
    margin-top: 2%;
    margin-bottom: 2%;
    color: rgb(253 111 0);
}

.t1{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 2%;
}

.webD1{
    display: flex;
    justify-content: space-evenly;
    margin: 5% 2% 7% 2%;
}
.webD2{
    display: flex;
    justify-content: space-evenly;
    margin: 5% 2% 7% 2%;
}
.webD3{
    display: flex;
    justify-content: space-evenly;
    margin: 5% 2% 7% 2%;
}

.arrow{
    height: 30px;
    width: 30px;
    border-radius: 15%;
    padding: 1%;
    margin-top: 5%;
    font-size: 25px;
    text-align: center;
    align-items: center;
}
.arrow:hover{
    background-color: rgb(230 230 230);
}
.block{
    display: flex;
}
.b1{
    display: flex;
    margin: 5%;
}
.block-img{
    height: 160px;
    width: 150px;
    border-radius: 50%;
    margin-right: 5%;
}